.added-cart{
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.addedmain-cart{
    width: 18rem;
    margin-bottom: 34px;
    height: 28rem;
    text-align: center;
    overflow: auto;
}
.cart-image{
    height: 264px;
}
@media only screen and (max-width:900px){
    .addedmain-cart{
        width: 23rem;
        margin-bottom: 34px;
        height: 28rem;
        text-align: center;
        overflow: auto;
    }

}